<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/css/carList.css}" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/b0b4d0fe2c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <title>Car List</title>
    <script language="javascript" type="text/javascript">
    $(document).ready(function() {
    $('#carDataTable').DataTable();
    } );
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Car Rental Supreme</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <a class="nav-link" href="/car/all">Car listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registration/">Registration</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<table id="carDataTable" data-page-length='50' class="table" data-order='[[2, "desc"]]' style="vertical-align: middle; text-align: center">
    <thead>
        <tr>
            <th scope="col"><h5></h5></th>
            <th scope="col"><h5>Company</h5></th>
            <th scope="col"><h5>Branch</h5></th>
            <th scope="col"><h5>Brand</h5></th>
            <th scope="col"><h5>Model</h5></th>
            <th scope="col"><h5>Year</h5></th>
            <th scope="col"><h5>Colour</h5></th>
            <th scope="col"><h5>Mileage</h5></th>
            <th scope="col"><h5>Gearbox Type</h5></th>
            <th scope="col"><h5>Car Description</h5></th>
            <th scope="col"><h5>Price Per Day</h5></th>
            <th scope="col"><h5></h5></th>
            <th scope="col"><h5></h5></th>
            <th scope="col"><h5></h5></th>
    </thead>
    <tbody>
        </tr>
        <div th:each="car : ${cars}">
            <tr>
                <td><img th:attr="src=@{${car.company.logo}}, alt=@{background}" style="width: 100px; height: 75px; display: inline-block" /></td></td>
                <td><p th:text="${car.company.company_name}" style="font-weight: bold"></p></td>
                <td><p th:text="${car.branch.city}"></p></td>
                <td><p th:text="${car.brand}"></p></td>
                <td><p th:text="${car.model}"></p></td>
                <td><p th:text="${car.year}"></p></td>
                <td><p th:text="${car.colour}"></p></td>
                <td><p th:text="${car.mileage}"></p></td>
                <td><p th:text="${car.gearbox_type}"></p></td>
                <td><p th:text="${car.car_description}"></p></td>
                <td><p th:text="${car.price_per_day}"></p></td>
                <td><a role="button" class="btn btn-success" th:href="@{'/car/' + ${car.carID}}">Book</a></td>

                <td><a role="button" class="btn btn-primary" th:href="@{'/car/' + ${{car.carID}} + '/edit'}">Edit</a></td>

                <td><a role="button" class="btn btn-danger" th:href="@{'/car/' + ${car.carID}+ '/delete'}">Delete</a></td>
            </tr>
        </div>
    </tbody>
    </table>

<footer class="bg-dark text-center text-white">

    <div class="container">

        <section class="mb-4" style="padding-top: 15px">

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-waze"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>

        </section>

        <section class="mb-4">
            <p style="font-style: italic">
                Car Rental Supreme is a fictional company made only for learning purposes. The authors of the application cannot be held responsible for any monetary loss. Terms and conditons don't apply, user discretion is advised.
            </p>
        </section>

        <section class="">

            <div class="row">

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Company</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">About Us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Partner companies</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Partner cars</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Insurance</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Service</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">How it works</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Current products</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Pricing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Terms and conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Resources</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Help</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Articles</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Blog</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Community</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Support</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">FAQ</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Customer support</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Knowledge base</a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="thumbnail" href="https://play.google.com/store/apps" target="_blank">
                        <img class="d-block mx-auto mb-3 img-fluid" src="/images/google-play-badge.png" alt="android-badge" style="width:55%">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="thumbnail" href="https://appgallery.huawei.com/" target="_blank">
                        <img class="d-block mx-auto mb-3 img-fluid" src="/images/Huawei-badge.png" alt="huawei-badge" style="margin:3%;width:55%" >
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <a class="thumbnail" href="https://www.apple.com/app-store/" target="_blank">
                        <img class="d-block mx-auto mb-3 img-fluid" src="/images/app-store-badge.png" alt="apple-badge" style="width:55%">
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Website by SDA Academy Team 1, Java Course 2020-2021
    </div>

</footer>

</body>



</html>